@{
    ViewData["Title"] = "Contato";
}

<section id="contato">
    <img src="~/images/icon2.png" width="80" height="80" />
    <p class="container">
        <h1 style="color: white; font-weight: bold; font-size: 40px;text-shadow: 1px 1px 4px black;">CONTATO</h1>
        <div>
            <hr id="separador" style="width: 270px; border-top: 2px solid; color: white; ">
        </div>
        <h4 style="margin-top: 40px; font-size: 20px; color: white; font-weight: bold; text-shadow: 1px 1px 4px black;">Aqui na Easy Dentes estamos sempre prontos para lhe atender.</h4>
        <h4 style="margin-top: 40px; font-size: 20px; color: white; font-weight: bold; text-shadow: 1px 1px 4px black;">Você pode ligar em um dos nossos numeros.</h4>
        <h4 style="margin-top: 40px; font-size: 20px; color: white; font-weight: bold; text-shadow: 1px 1px 4px black; ">Ou se preferir entre em contato direto pelo Whatsapp.</h4>
    <p>
</section>

<section>
    <div id="Mid2">
        <div>
            <img src="~/images/coracao.png" width="80" height="80" />
        </div>
        <h2 id="h2" style="font-size:45px">CONTATE-NOS</h2>
        <div>
            <hr id="separator">
        </div>
        <h4 style="margin-top:40px;font-size:20px">Telefones Pra Contato:</h4>
        <h4 style="margin-top: 40px; font-size: 20px">(11)4002-8922</h4>
        <h4 style="margin-top: 40px; font-size: 20px">(11)4002-8922</h4>

        <a asp-area="" asp-controller="Home" asp-action="MarcarConsulta" id="btn2">WHATSAPP</a>
    </div>
</section>


